<h1>All trails on <%= @trip.name %></h1>
<% @trip.trails.each do |trail| %>
<section class="trail-<%= trail.id %>-details">
  <ul>
    <li>Name: <%= trail.name %></li>
    <li>Address: <%= trail.address %></li>
    <li>Length: <%= trail.length %></li>
  </ul>
</section>
<% end %>
